@charset "UTF-8";

:root {
    --color-white: #ffffff;
    --color-primary: #2F5BC1;
    --color-primary-bg: #F5FAFF;
    --color-bg-light: #f9f9f9;
    --color-people: #6951CB;
    --color-people-bg: #F2F2FE;
    --color-line: #cccccc;

    /* 타이틀 폰트 사이즈 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-title-24-lg: 24px;
    --font-title-20-md: 20px;
    --font-title-18-sm: 18px;
    --font-title-16-xs: 16px;

    /* 폰트사이즈 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-20-xl: 20px;
    --font-18-lg: 18px;
    --font-16-md: 16px;
    --font-15-sm: 15px;
    --font-14-xs: 14px;
    --font-13-xxs: 13px;
    --font-12-min: 12px;

    /* 폰트두께 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;

    /* 여백 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --space-48-max: 48px;
    --space-40-xxl: 40px;
    --space-32-xl: 32px;
    --space-24-lg: 24px;
    --space-20-md: 20px;
    --space-16-sm: 16px;
    --space-12-xs: 12px;
    --space-8-xxs: 8px;
    --space-4-min: 4px;

    /* 모서리지름 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --radius-full: 100px;
    --radius-24-xxl: 24px;
    --radius-20-xl: 20px;
    --radius-16-lg: 16px;
    --radius-8-md: 8px;
    --radius-4-sm: 4px;
}

/* 기존 소스 custom */
.map .sec_01 .call-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.call-wrap .col.l2 {
    margin: 0;
    width: 100%;
}

.call-wrap .col.s10 {
    width: 100%;
}

.map .sec_02 .bus-title h4 {
    text-align: left;
    word-break: break-all;
}

.table_bus tbody {
    display: flex;
    flex-direction: column;
}

.table_bus tbody>tr {
    display: flex;
    flex-direction: column;
}

.table_bus tbody>tr>th {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: min-content;
    padding: 12px 0 !important;
}

.table_bus tbody>tr>th img {
    height: 24px;
    margin: 0 !important;
    width: 24px;
}

.table_bus tbody>tr>td {
    height: min-content;
}

.table_bus tbody>tr>td>ul {
    display: flex !important;
    flex-direction: column;
    gap: 12px;
}

.table_bus tbody>tr>td>ul>li {
    padding: 0 !important;
    width: 100% !important;
}

.breadcrumb-wrap .breadcrumb li a.home {
    font-size: 0;
}

@media screen and (min-width: 768px) {
    .map .sec_01 .call-wrap {
        display: block;
    }

    .call-wrap .col.l2 {
        width: 16.6666666667%;
        margin-left: auto;
    }

    .call-wrap .col.s10 {
        width: 83.3333333333%;
    }

    .table_bus tbody>tr>td>ul {
        flex-direction: row;
    }

    .table_bus tbody>tr>td>ul>li {
        width: 50% !important;
    }
}

@media screen and (min-width: 992px) {
    .table_bus tbody {
        display: table-row-group;
    }

    .table_bus tbody>tr {
        display: table-row;
    }

    .table_bus tbody>tr>th {
        display: table-cell;
        padding: 15px 10px 10px !important;
    }

    .table_bus tbody>tr>th img {
        height: unset;
        margin: 0 auto 1rem auto !important;
        width: unset;
    }

    .table_bus tbody>tr>td {
        height: 3rem;
    }

    .table_bus tbody>tr>td>ul {
        display: table !important;
    }

    .table_bus tbody>tr>td>ul>li {
        padding: 10px 0 10px 15px !important;
    }
}

/* 신규 css */
.map-img {
    background: url(../../images/new/m_map.png);
    background-size: cover;
    background-position: left top;
    display: block;
    font-size: 0;
    height: 220px;
    width: 100%;
}

@media screen and (min-width: 468px) {
    .map-img {
        height: 260px;
    }
}

@media screen and (min-width: 576px) {
    .map-img {
        height: 340px;
    }
}

@media screen and (min-width: 768px) {
    .map-img {
        background: url(../../images/new/pc_map.png);
        background-size: cover;
        background-position: left top;
        height: 380px;
    }
}

@media screen and (min-width: 992px) {
    .map-img {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .map-img {
        height: 580px;
    }
}

.school-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.school-img img {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .school-wrap {
        gap: 30px;
    }
}

.img-group {
    width: 100%;
}

.img-group img {
    width: 100%;
}

.img-group .pc-img {
    display: none;
}

.img-group .mo-img {
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .img-group .pc-img {
        display: block;
    }

    .img-group .mo-img {
        display: none;
    }
}

.circle-title {
    align-items: center;
    background: var(--primary);
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    outline: 1px solid var(--color-primary);
    outline-offset: 4px;
    max-width: 800px;
    margin: 4px;
    padding: var(--space-12-xs) 40px;
    text-align: center;
}

.circle-title h2 {
    color: var(--color-white);
    font-size: var(--font-18-lg);
    font-weight: var(--font-bold);
}

.table-group {
    margin: var(--space-16-sm) 0 0 0;
}

.table-group.gray tr {
    border: 0;
}

.table-group.gray th {
    background: var(--color-bg-light);
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
    font-weight: var(--font-bold);
    height: max-content;
    padding: var(--space-12-xs) 0;
    text-align: center;
}

.table-group.gray td {
    border-bottom: 1px solid var(--color-line);
    font-size: var(--font-14-xs);
    line-height: 1.5;
    height: max-content;
    padding: var(--space-12-xs);
    text-align: center;
}

.table-group.gray td b {
    font-size: var(--font-14-xs);
    font-weight: bold;
}

.table-group.gray .none-color {
    background: none;
    border: none;
}

.table-group.gray td img {
    width: 40px;
}

@media screen and (min-width: 1200px) {
    .circle-title {
        margin: 0 auto;
        padding: var(--space-16-sm) 60px;
    }

    .circle-title h2 {
        font-size: var(--font-title-20-md);
    }

    .table-group {
        margin: var(--space-20-md) 0 0 0;
    }

    .table-group.gray tbody td {
        font-size: var(--font-15-sm);
    }

    .table-group.gray tbody td b {
        font-size: var(--font-15-sm);
    }
}

.table-group.table-horizontal tr:first-child td {
    border-top: 1px solid var(--color-line);
}

.table-group.table-horizontal td {
    padding: var(--space-12-xs) var(--space-20-md);
    text-align: left;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-16-sm);
}

.list-item dl {
    display: flex;
    flex-direction: column;
}

.list-item dl dt {
    background: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-16-md);
    font-weight: var(--font-semibold);
    padding: var(--space-12-xs) 0;
    text-align: center;
}

.list-item dl dd {
    background: var(--color-primary-bg);
    padding: var(--space-20-md) var(--font-12-min);
    text-align: center;
}

.list-item dl dd img {
    max-width: 260px;
    width: 100%;
}

.list-item dl dd:last-child {
    background: none;
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    font-size: var(--font-16-md);
    font-weight: var(--font-semibold);
    padding: var(--space-12-xs) 0;
    text-align: center;
}

.list-item dl.people dt {
    background: var(--color-people);
}

.list-item dl.people dd {
    background: var(--color-people-bg);
}

.list-item dl.people dd:last-child {
    background: none;
    border-color: var(--color-people);
    color: var(--color-people);
}

@media screen and (min-width: 768px) {
    .list-item {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--space-20-md);
    }

    .list-item li {
        width: calc((100% / 2) - 10px);
    }
}

@media screen and (min-width: 1200px) {
    .list-item {
        flex-wrap: nowrap;
    }

    .list-item li {
        width: calc((100% / 5) - 10px);
    }
}

.table-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-24-lg);
}

.table-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.table-section .table-group {
    margin: 0;
}

.table-top {
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.table-top h2 {
    background: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-16-md);
    padding: var(--space-12-xs);
    text-align: center;
}

.table-top img {
    width: 100%;
}

.table-title {
    align-items: center;
    background: var(--primary);
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    outline: 4px solid #E6E6E6;
    margin: 4px auto;
    max-width: 260px;
    padding: var(--space-12-xs) 40px;
    text-align: center;
}

.table-title h2 {
    color: var(--color-white);
    font-size: var(--font-18-lg);
    font-weight: var(--font-bold);
}

@media screen and (min-width: 1200px) {
    .table-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: var(--space-24-lg);
    }

    .table-section {
        width: calc((100% / 2) - 12px);
    }

    .table-wrap.type2 {
        flex-wrap: wrap;
    }

    .table-section.type2 {
        width: calc((100% / 2) - 16px);
    }
}

@media screen and (min-width: 1400px) {
    .table-wrap {
        column-gap: 80px;
    }

    .table-section {
        width: calc((100% / 2) - 40px);
    }

    .table-wrap.type2 {
        column-gap: 20px;
        flex-wrap: nowrap;
    }

    .table-section.type2 {
        width: calc((100% / 3) - 10px);
    }
}

.table-group.gray td.td-img {
    padding: 0;
}

.table-group.gray td.td-img img {
    height: 128px;
    width: 100%;
}

.greenery-img {
    background: url(/dist_goobit/images/new/09_04_09.png);
    background-size: cover;
    height: 128px;
    width: 100%;
}

.table-group.gray td.w-100 img {
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
}

.table-group.gray td.logo-img.type1 img {
    width: 68px;
}

.table-group.gray td.logo-img.type2 img {
    width: 60px;
}

.table-group.gray td.logo-img.type3 img {
    width: 68px;
}

@media screen and (min-width: 1200px) {
    .table-group.gray td.logo-img,
    .table-group.gray td.w-100 {
        height: 128px;
    }
    

    .line-row-height {
        height: 130px !important;
    }
}