@import "components/global";
@import "components/typography";
// Badges
$badge-height : 1.875rem;
span.badge {
  min-width: 3rem;
  padding: 0 0.6rem;
  margin-left: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: $badge-height;
  height: $badge-height;
  color: color('grey', 'darken-1');
  float: right;
  box-sizing: border-box;

  &.new {
    font-size: 0.8rem;
    color: #fff;
    background-color: $badge-bg-color;
    border-radius: 0.375rem;
  }
  &.new:after {
    content: " new";
  }

  &[data-badge-caption]::after {
    @include font-light-components-button-large;
    content: " " attr(data-badge-caption);
  }
}

// Special cases
nav ul a span.badge {
  display: inline-block;
  float: none;
  margin-left: 4px;
  line-height: $badge-height;
  height: $badge-height;
  -webkit-font-smoothing: auto;
}

// Line height centering
$collection-line-height: 130%;
.collection-item span.badge {
  margin-top: calc(#{$collection-line-height * 0.5} - #{$badge-height * 0.5});
}
.collapsible span.badge {
  margin-left: auto;
}
.sidenav span.badge {
  margin-top: calc(#{$sidenav-line-height * 0.5} - #{$badge-height * 0.5});
}

table span.badge {
  display: inline-block;
  float: none;
  margin-left: auto;
}
