@import "components/global";
@import "components/color-variables";
$navbar-font-color: $light-text-primary;
header{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
nav {
  background: $light-background-paper;
  height: auto!important;
  &.nav-extended {
    height: auto;

    .nav-wrapper {
      min-height: $navbar-height-mobile;
     
      height: auto;
      padding-right: 0;

    }

    .nav-content {
      position: relative;
      line-height: normal;
    }
  }

  color: $navbar-font-color;
  border-bottom: 1px solid $light-other-divider;
  background-color: $light-background-paper;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-line-height-mobile;

  a { color: $navbar-font-color; }

  i,
  [class^="mdi-"], [class*="mdi-"],
  i.material-icons {
    display: block;
    font-size: 24px;
    height: $navbar-height-mobile;
    line-height: $navbar-line-height-mobile;
  }

  .nav-wrapper {
    background: $light-common-white;
    display: flex;
    z-index: 99;
    padding: 0 2rem;
    height: 5rem;
    position: relative;
    align-items: center;
    justify-content: space-between;
    
    .left{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .dept-trigger{
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      a{
        width: 100%;
      }
    }
    ul.center{
      display: flex;
      width: 50vw;
      height: 100%;

    }
    .brand-logo-left{
      display: flex;
      height: 2.4rem;
    }
    @media #{$medium-and-down} {
      padding-left: 1rem;
      padding-right: 0;
    }
    
  }


  // Collapse button
  .sidenav-trigger {
    float: left;
    position: relative;
    z-index: 1;
    height: $navbar-height-mobile;
    margin: 0 18px;

    i {
      height: $navbar-height-mobile;
      line-height: $navbar-line-height-mobile;
    }
  }


  // Logo
  .brand-logo-left {
    color: $navbar-font-color;
    display: inline-block;
    font-size: $navbar-brand-font-size;
    padding: 0;

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    @media #{$medium-and-down} {

      &.left, &.right {
        padding: 0;
        transform: none;
      }

      &.left { left: 0.5rem; }
      &.right {
        right: 0.5rem;
        left: auto;
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }

    i,
    [class^="mdi-"], [class*="mdi-"],
    i.material-icons {
      float: left;
      margin-right: 15px;
    }
  }


  // Title
  .nav-title {
    display: inline-block;
    font-size: 32px;
    padding: 28px 0;
  }


  // Navbar Links
  ul {
    margin: 0;

    li {
      transition: background-color .3s;
      float: left;
      padding: 0;

      &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a {
      transition: background-color .3s;
      @include font-light-typography-h6;
      color: $navbar-font-color;
      display: block;
      cursor: pointer;

      &.btn, &.btn-large, &.btn-flat, &.btn-floating {
        margin-top: -2px;
        margin-left: 15px;
        margin-right: 15px;

        & > .material-icons {
          height: inherit;
          line-height: inherit;
        }
      }

      &:hover {
        font-weight: 600;
      }
    }

    &.left {
      float: left;
    }
  }

  ul.right{
    display: flex;
    align-items: center;
    li:first-child, 
    li:nth-child(2){
      margin-right: .6rem;
     a{
       background: #fff;
       border: 2px solid #EAEAEA;
     }
    }
    a.trigger-lan{
      position: relative;
      width: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      border-radius: 1rem;
      @include font-light-typography-subtitle-1;
      i{
        height: 3.25rem;
        line-height: 3.25rem;
        color: $light-action-active;
      }
    }
    .lan-group{
      display: none;
      width: 7rem;
      margin-top: .2rem;
      background: $light-common-white;
      position: absolute;
      border-radius: 1rem;
      overflow: hidden;
      border: 2px solid #EAEAEA;
      li{
        display: block;
        width: 100%;
        margin: 0;
        a{
          border-radius: 0;
          width: 100%;
          border: none;
          @include font-light-typography-subtitle-1;
        }
        a:hover{
          background: #efefef;
        }
      }
      li:first-child{
        border-bottom: 1px solid #efefef;
      }
    }
    li{
      a{
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 1.125rem;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $light-primary-main;
        &.btn, &.btn-large, &.btn-flat, &.btn-floating {
          margin-top: -2px;
          margin-left: 0;
          margin-right: 0;}
      }
    }
    @media screen and (max-width: 1025px) {
      display: none;
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }

  .input-field {
    margin: 0;
    height: 100%;

    input {
      height: 100%;
      font-size: 1.2rem;
      border: none;
      padding-left: 2rem;

      &:focus, &[type=text]:valid, &[type=password]:valid,
      &[type=email]:valid, &[type=url]:valid, &[type=date]:valid {
        border: none;
        box-shadow: none;
      }
    }

    label {
      top: 0;
      left: 0;

      i {
        color: rgba(255,255,255,.7);
        transition: color .3s;
      }
      &.active i { color: $navbar-font-color; }
    }
  }
}
// 고정 값 정의 (변수 대신)
$prefix: "custom-"; // Prefix를 정의합니다.
$fws-bold: 700;
$fz-title-xlg: 1.8rem;
$fz-body-lg: 1.2rem;
$primary: #007bff;
//전체메뉴
.all_menu_box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc( 100% + 110px );
  background: #fff;
  z-index: 9999;
  padding-bottom: 0;
  padding-top: 0;
  border-top: 0;
  .all_menu_top {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    span{
      margin-left: -14rem;
    }
    .logo-area{
      a{
        display: flex;
        align-items: center;
      }
      img{
        height: 2.8rem;
      }
    }
    span {
      font-size: 24px;
      color: #222;
      letter-spacing: -0.6px;
      font-weight: bold;
    }
    .all-close{
      i{
        font-size: 2.2rem;
      }
    }
  }

  .all_depth1 {
    display: flex;
    height: calc( 100% + -200px );
    overflow-y: scroll;
    border-top: 1px solid #e2e5eb;

    > li {
      display: flex;
      width: 20%;
      height: 156vh;
      flex-direction: column;
      padding: 40px 0;
      border-right: 1px solid #e2e5eb;

      + li {
        border-right: 1px solid #e2e5eb;
      }
    }
  }

  .all_depth_box {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    > span {
      font-size: 24px;
      font-weight: bold;
      color: #222;
      letter-spacing: -0.6px;
      padding-left: 30px;
      margin-bottom: 1rem;
      position: relative;
      &::before{
        content: "";
        width: 4px;
        height: 0rem;
        position: absolute;
        left: 0;
        top: 4px;
        background: $light-primary-main;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    &:hover{
      span{
        color: $light-primary-main;
        &::before{
          height: 3rem;
        }
      }
    }
  }

  .all_depth2 {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    > li {
      margin-bottom: 1.5rem;
      padding-left: 30px;
      box-sizing: border-box;

      &:nth-child(n+4) {
        margin-top: 0px;
      }

      > {
        div {
          display: flex;
          align-items: center;

          > a {
            font-size: 18px;
            letter-spacing: -0.45px;
            color: #222;
            font-weight: bold;
          }
        }

        a {
          font-size: 18px;
          letter-spacing: -0.45px;
          color: #222;
          font-weight: bold;
        }
        a:hover{
          &::before{
            height: 4rem;
          }
        }
        div .blank {
          position: relative;

          &:after {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            transform: translateY(-50%);
            right: -66px;
            width: 12px;
            height: 12px;
            background: url(/2019/lib/image/2023/icon_blank.png) no-repeat center right;
          }

          &:hover:after, &:focus:after {
            background: url(/2019/lib/image/2023/icon_blank_hover.png) no-repeat center right;
          }
        }
      }
    }
  }

  .all_depth3 > li {
    margin-top: 8px;
    display: block;
    width: 100%;
    align-items: center;

    > a {
      padding-left: 10px;
      font-size: 16px;
      color: $light-text-secondary;
      font-weight: 500;
      letter-spacing: -0.38px;
      position: relative;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &::before{
        content: "●";
        font-size: 4px;
        position: absolute;
        left: 0;top: 1px;
      }
      &:hover, &:focus, &.active {
        color: #006ae2;
      }
    }
  }

  .all_depth2 > li > div > a {
    &:hover, &:focus, &.active {
      color: #006ae2;
    }
  }
}

// 기본 CSS
.w-gnb-wrap {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  top: 5rem; /* 헤더 아래에 위치하도록 설정 */
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  max-height: 90vh;
   overflow-y: auto;
  background-color: #fff;
  z-index: 1000;

  .ico-close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    background-image: url(../../img/component/common/ico_close_24.svg);
  }

  .w-gnb-menu {
    display: flex;
    position: relative;
    background-color: var(--#{$prefix}secondary-5);
    margin-bottom: 0 !important;

    .menu-wrap {
      background: $light-background-body-background;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 1rem .5rem; /* $spacer-4 대신 */
      .center{
        margin-top: -2rem;
        h4{
          color: $light-primary-main;
          
        }
        p.body-1-semibold{
          color: $light-grey-grey-700;
        }
      }
    }
    .submenu-wrap {
      display: flex;
      padding: 1rem;
    }
    
    .submenu-wrap .menuwrap {
      display: block;
    }
    
    .submenu-in {
      width: 100%;
      box-sizing: border-box; /* padding과 border 포함한 크기 계산 */
    }
    
    .sub-in {
      padding: 1rem .5rem;
      width: 98%;
    }
    
    .sub-tit {
      margin-bottom: 0;
      position: relative;
      .btn-txt {
        display: block;
        width: 100%;
        background-color: #3c8dbc; /* 버튼 배경색 */
        color: white;
        text-align: left;
        padding: .3rem 1rem;
        border-radius: 0px 1rem 0px 1rem;
        text-decoration: none;
        @include font-light-typography-h6;
        &:hover, &:active, &:focus {
          background: linear-gradient(90deg, #58D5C8 0%, #7C8EE7 100%);
        }
      }
      .btn-txt::after{
        content: url("../../images/icon_gnb-right.svg");
        position: absolute;
        right: 1rem;
      }
    }
    
    .sub-ul {
      list-style: none;
      padding: 0.5rem;
    
      li {
        width: 100%;
        display: block;
        margin-bottom: 0;
        a {
          text-align: left;
          font-size: 1.03rem;
          font-weight: 400;
          text-decoration: none;
          padding: .2rem 0.5rem;
          display: block;
          line-height: 128%;
          &:hover {
            background-color: #f5f5f5;
            border-radius: 4px;
          }
        }
      }
    }
    
  }

  &.is-open {
    transition: all 1s ease;
    display: block;
  }
}
.w-orange{
  .w-gnb-menu{
    .menu-wrap{
      background: $light-orange-outlined-hover-background;
      .center{
        h4{
          color: $light-orange-contained-hover-background;
        }
      }
    }
    .sub-tit{
      .btn-txt{
        background-color: $light-orange-main;
        &:hover, &:active, &:focus {
          background: linear-gradient(90deg, #FF8201 0%, #49C9C9 100%);
        }
      }
    }
  }
}
// gnb 최소높이 구분
.w-gnb-default{
  .submenu-in{
    min-height: 230px; /* 각 메뉴의 최소 높이를 230px 설정 */
  }
}
.w-gnb-medium{
  .submenu-in{
    min-height: 200px; /* 각 메뉴의 최소 높이를 200px 설정 */
  }
}
.w-gnb-small{
  .submenu-in{
    min-height: 80px; /* 각 메뉴의 최소 높이를 80px로 설정 */
  }
}
.w-gnb-overlay {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 80px; /* 헤더 바로 아래에 위치 */
  left: 0;
  width: 100%;
  height: calc(100% - 80px); /* 헤더 높이만큼을 뺀 높이 */
  background-color: rgba(0, 0, 0, 0.5); /* 검은색 반투명 */
  z-index: 1; /* 서브메뉴보다 뒤에 위치 */
}


.w-gnb-wrap {
  z-index: 1000; /* overlay보다 앞에 위치 */
}

// 마우스 오버로 하위 메뉴가 나타나도록 제어
.w-gnb-wrap .w-gnb-menu .menu-wrap li:hover + .submenu-wrap .submenu-in {
    display: block;
}

// Fixed Navbar
.navbar-fixed {
  position: relative;
  height: $navbar-height-mobile;
  z-index: 997;

  nav {
    position: fixed;
  }
}
nav a.sidenav-trigger{
  display: none;
}
@media screen and (max-width: 1025px) {
  nav.nav-extended .nav-wrapper {
    min-height: $navbar-height;
  }
  nav a.sidenav-trigger{
    display: flex;
  }

  .navbar-fixed {
    height: $navbar-height;
  }

  nav{
    .sidenav-trigger{
      width: 3.25rem;
      height: 3.25rem;
      line-height: 4rem;
      text-align: center;
      border-radius: 1.125rem;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $light-primary-main;
      &.btn, &.btn-large, &.btn-flat, &.btn-floating {
        margin-top: -2px;
        margin-left: 0;
        margin-right: 0;}
    }
  }
}
.snb{
  h4{
    padding: 3.2rem 1.2rem;
    background: $light-background-body-background;
  }
  li{
    border-bottom: 1px solid #dbdbdb;
    a{
      display: block;
      padding: 1.2rem;
    }
    ul{
      li{
        border: none;
      }
    }
  }
  .active.btn-menu-toggle::after{
    transform: rotate(180deg);
  }
  ul.dept2{
    display: none;
    background: $light-action-disabled-background;
    padding: 1.2rem;
  }
  ul.dept2 > li{
    margin-left: 1rem;
    list-style: disc;
   a{
    padding: inherit;
    margin: .5rem 0;
   }
   a.active{
    font-weight: 500;
    color: $light-primary-main;
    border: none;
   }
  }
  a.active{
    color: $light-primary-main;
    border: 2px solid $light-primary-main;
  }

  .btn-menu-toggle{
    display: flex;
    position: relative;
  }
.btn-menu-toggle::after {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../images/arr_lnb.svg) no-repeat;
    background-size: contain;
    transition: 0.4s ease-in-out;
    transform: rotate(0deg);
}
}
/*snb-오렌지추가*/
.sub-o{
  .title-content-wrap h4{
    color: $light-orange-contained-hover-background;
  }
  .snb{
    h4{
      background: $light-orange-outlined-hover-background;
    }
    a.active{
      color: $light-orange-contained-hover-background !important;
      border: 2px solid $light-orange-main;
    }
    ul.dept2 > li{
     a.active{
      border: none;
      color: $light-orange-contained-hover-background !important;
     }
    }
  }
}
/*PC검색창추가*/
.search_wrap {
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: #fff;
  z-index: 99;
  .gnb_search_box {
    margin: 0 auto;
    padding: 8rem 5rem 3rem 5rem;
    z-index: 10;
    .ipt_search {
      position: relative;
      margin: 0 auto;
      input[type="text"] {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.45px;
        color: #888;
        padding: 16px 72px 16px 24px;
        border: 2px solid #222;
        border-radius: 8px;
        width: 100%;
        box-sizing: border-box;
        &:focus{
          border: 2px solid $light-primary-main !important;
        }
      }
      .btn_search {
        width: 24px;
        height: 24px;
        background: url(../../images/icon_search_main.png) no-repeat center;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-66%);
        cursor: pointer;
      }
      .btn_del {
        position: absolute;
        right: -64px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url(/2019/lib/image/2023/icon_close.png) no-repeat center;
        cursor: pointer;
      }
    }
  }
  .gnb-element {
    .btn-menu-all {
      .all_menu {
        display: inline-block;
        margin-left: 24px;
        width: 24px;
        height: 24px;
        background: url(/2019/lib/image/icon_menu.png) no-repeat center;
      }
    }
  }
  .search_box_list {
    display: flex;
    margin-left: 20px;
    margin-top: 40px;
    div {
      & + div {
        margin-left: 40px;
      }
    }
    .search_box_list_tit {
      font-size: 18px;
      font-weight: bold;
      color: #222;
    }
    ul {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      min-width: 280px;
    }
    li {
      display: flex;
      align-items: center;
      width: 100%;
      & + li {
        margin-top: 8px;
      }
      em {
        display: inline-flex;
        font-size: 11px;
        font-weight: bold;
        width: 20px;
        min-width: 20px;
        height: 20px;
        color: #fff;
        background: #6f7681;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
      }
      a {
        margin-left: 8px;
        font-size: 15px;
        letter-spacing: -0.15px;
        color: #222;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }
  }

  
}
.dark_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9;
  display: none;
}