
$tabs-text-color : $light-primary-main;
$tabs-underline-color : $light-primary-main;
.tab-wrap{
  margin-bottom: 1rem;
}
.tabs {
  height: 100% !important;
  &.tabs-transparent {
    background-color: transparent;

    .tab a,
    .tab.disabled a,
    .tab.disabled a:hover {
      color: $light-text-secondary;
    }

    .tab a:hover,
    .tab a.active {
      color: #fff;
    }

    .indicator {
      background-color: #fff;
    }
  }

  &.tabs-fixed-width {
    display: flex;

    .tab {
      flex-grow: 1;
    }
  }

  position: relative;
  width: 100%;
    display: flex;
    justify-content: space-between;
  background-color: $tabs-bg-color;
  margin: 0 auto;

  .tab {
    display: flex;
    width: 100%;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    a {
      font-size: 1rem;
      border: 1px  solid #E1E1E1;
      display: inline-block !important;
      line-height: inherit !important;
      overflow: hidden;
      @media screen and (max-width: 1024px) {
        font-size: .9rem;
        i{
          font-size: .9rem;
        }
       }
      i{
        margin-right: .3rem;
      }
      &:focus,
      &:focus.active {
        background: $light-primary-main;
        outline: none !important;
      }
      
      &:hover,
      &.active {
    
        i.material-icons{
          color: $tabs-text-color;
        }
        background: $light-primary-main;
        color: #fff;
      }

      color: $light-text-secondary;
     @include font-light-components-button-large;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 24px;
      text-overflow: ellipsis;
      transition: color .28s ease, background-color .28s ease;
    }

    &.disabled a,
    &.disabled a:hover {
      color: rgba($tabs-text-color, .4);
      cursor: default;
    }
  }

}
.sub-o{
  .tabs{
    .tab{
      a.active{
        background: $light-orange-main;
      }
     a{
       
      &:focus,
      &:hover,
      &:focus.active {
        background: $light-orange-main;

      }
     }
    }
  }
}
// Fixed Sidenav hide on smaller
@media screen and (max-width: 1025px) {
  .tabs {
    display: block;

    .tab {
      flex-grow: 1;
      width: 49% !important;
      margin-bottom: .2rem;
      display: inline-block;
      a {
        padding: 0 12px;
        .tabs .tab a {
          display: inline-block !important;
          overflow: hidden;
          line-height: inherit;
          font-size: 1rem;
          border: 1px solid #E1E1E1;
          color: rgba(15, 23, 42, 0.68);
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0 24px;
          text-overflow: ellipsis;
          transition: color 0.28s ease, background-color 0.28s ease;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
      }
    }
  }
}
