// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';

.form-group {
	display: flex;
	flex-direction: column;
	gap: var(--#{$prefix}spacer-3);
	width: 100%;
	.form-tit {
		width: 100%;
	}	
	.form-conts {
		display: flex;
		flex-direction: column;
		gap:var(--krds-spacer-3);
		width: 100%;
		&.keyword-sch {
			width: 58.8rem;
		}
		.form-label  {
			display: flex;
			// font-size: 1.5rem;
			font-size: var(--#{$prefix}fz-label-sm);
			width: 100%;
		}
		&.btn-ico-wrap { //input안에 button 노출
			position: relative;
			.form-control {
				padding-right: var(--#{$prefix}spacer-14);
			}
			.btn {
				@include position($t:50%, $r:1.6rem);
				transform: translateY(-50%);
			}
		}
		&.datepicker-conts {
			gap: 0;
		}
		.form-check {
			.form-check-cnt {
				margin-top: 1.2rem;
				.form-check-p {
					color: var(--#{$prefix}gray-70);
				}
			}
		}
	}
	> p {
		width: 100%;
	}
	[class^=form-hint] {
		$value : calc(2rem + var(--#{$prefix}spacer-1));
		font-size: var(--#{$prefix}fz-label-sm);
		color: var(--#{$prefix}gray-70);
		padding-left:$value;
		&::before {
			display: inline-flex;
			@include foursquare(2rem);
			@include flex-size(0, 0);
			@include pseudo();
			margin-left: calc($value * -1);
			margin-right: var(--#{$prefix}spacer-1);
			vertical-align: top;
			background: url(../../images/ico_hint_20.svg) no-repeat center;
			background-size: contain;
		}
	}
	.is-error {
		~ .form-hint-invalid {
			color:var(--#{$prefix}point);
			&::before {
				background-color: transparent;
				background-image: url(../../images/ico_hint_error.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
	}
}

