@charset "utf-8";
@import "lib.scss";
@import "components/global";

@media screen and (min-width: 1025px) {
	.btn[data-v-c1b8eff8]{
		padding: 0 !important
	}
	.mo-br{
		display: none;
	}
}
@media screen and (max-width: 1025px) {
	/*퀵링크*/
	.quick-wrap{
		z-index: 9;
		.floating{
			position: fixed;
			bottom: .5rem;
			right: .5rem;
			border: 0.865px solid #E1E6F0;
			background: $light-common-white;
			padding: .5rem 1rem;
			border-radius: 1rem;

			box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
		}
	}
	/*만족도조사*/
	.satisfy_wrap{
		.admin-info{
			ul.flex{
				display: block;
				li{
					margin: 0;
					line-height: 1.6rem;
				}
			}
		}
	}
	.mo-flex{
		display: flex !important;
		justify-content: start;
		flex-direction: row;
	}
	.left, .right{
		float: none !important;
	}
	/*페이지별 색션 가로사이즈 조정*/
	.container{
		width: 90% !important;
		margin: 0 auto !important;
		float: none !important;
	}
	.ct-lg{
		.container{
			width: 90%;
		}
		.section{
			width: 100%!important;
			margin: 0 auto;
		}
	}
	.ct-mid{
		.section{
			width: 100% !important;
			margin: 0 auto;
		}
	}
	.ct-sm{
		.section{
			width: 100% !important;
			margin: 0 auto;
			}
		}
	.ct-xsm{
		.section{
			width: 100% !important;
			margin: 0 auto;
		}
	}
	.pc-br{
		display: none;
	}
	html{
		overflow-x: hidden;
	}
	.box-3, .box-4{
		.l4{
			width: 100% !important;
			 box-sizing: border-box;
			 img{
				width: 100%;
			 }
		}
		.l3{
			width: 100% !important;
			box-sizing: border-box;
			img{
				width: 100%;
			 }
		}
	}
	/*좌우 분할 레이아웃*/
	.split-wrap{
		display: block;
		.card{
			margin-right: 1rem;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			padding: 2rem;
		}
		img.full{
			border-radius: .625rem;
		}
	}
	/*메뉴 반응형*/
	.gnb_pc {
		display: none;
	}
	.gnb_mo {
		z-index: 10;
	}
	.toggle-mnu {
	  display: block;
	  width: 26px;
	  height: 26px;
	  margin-top: 12px;

	  span {
	    &:after, &:before {
	      content: "";
	      position: absolute;
	      left: 0;
	      top: 9px;
	    }

	    &:after {
	      top: 18px;
	      width: 100%;
	      height: 1.5px;
	      background-color: #fff;
	      transition: all 0.3s;
	      backface-visibility: hidden;
	      border-radius: 2px;
	    }

	    position: relative;
	    display: block;
	    width: 100%;
	    height: 1.5px;
	    background-color: #fff;
	    transition: all 0.3s;
	    backface-visibility: hidden;
	    border-radius: 2px;

	    &:before {
	      width: 100%;
	      height: 1.5px;
	      background-color: #fff;
	      transition: all 0.3s;
	      backface-visibility: hidden;
	      border-radius: 2px;
	    }
	  }
	}

	/*공통 변수*/
	.down_a{
		width: fit-content;
	}
	.containerWrap{
		margin-top: 3rem;
		padding-bottom: 1rem;
	}
	.subpage{
		margin-top: 6rem;
	}
	.card-type{
		.paper{
			padding: 1rem 1.2rem;
		}
	}
	.pc_img{
		display: none !important;
	}
	.mo_img{
		display: block !important;
	}

	.slider{
		height: 4rem;
		.slide{
			img{
				height: 2rem;
			}
		}
	}
	.flex, .flex-top{
		display: block;
	}
	a.flex, .input-field.flex, h5.flex ,ul.flex, .btn-label.flex{
		display: flex;
	}
	.collection{
		.flex{
			display: flex;
		}
	}
	footer{
		.container{
			width: 100% !important;
		}
		.footer_top{
			padding: 0;
			.sec_inner{
				
				.left{
					display: inline-block !important;
					li{
						line-height: 1.6rem;
						a{
							padding: 0;
						}
					}
					li::after{
						content: none;
					}
				}
			}
		}
		padding: 3rem 1rem 2rem 1rem;
		.right, .famlilysite{
			*{float: none !important;}
			button{
				width: 100% !important;
			}
		}
		section{
			.sec_inner{
				display: block;
				.left, .right{
					display: block;
					float: none !important;
					.info{
						margin: 0;
						margin: 1rem 0;
						.top{
							margin-bottom: .5rem;
						}
					}
				}
				.swiper-container{
					 margin-left: 0;
				}
			}
		}
		
	}
	#fnb {
		.fnb1 {
			display: block;
			li{
				display: inline-block;
				width: 48%;
				margin-right: .5rem;
				margin-bottom: .5rem;
				vertical-align: top;
				
				a{
					width: 100%;
					height: 48px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: .8rem;
					padding: .5rem;
					text-align: center;
				}
			}
			li:nth-child(2n){
				margin-right: 0;
			}
		}
	}
	.modal-noti{
		width: 90% !important;
	}
	/*테이블 모바일에서 스크롤가능하게*/
    .scroll_box {
        overflow-x: auto;
        padding-top: 1px;
        clear: both;
    }
	.scroll_txt{display: block;letter-spacing: -0.05rem; padding: 5px 0 8px 45px; color: $light-primary-main; background: url(../../images/icon_scroll.png) no-repeat 5px center;}
	.board-table-wrap {
		.board-table {
			tr {
				display: block;
				border-bottom: 1px solid #dedede;
				td.board-subject {
					padding: 5px 10px;
				}
				td.board-subject.new {
					padding-left: 32px;
					&::before {
						width: 15px;
						height: 15px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				td.board-applicant {
					padding: 5px 10px;
					text-align: left;
				}
				td.board-applicant.new {
					padding-left: 32px;
					&::before {
						width: 15px;
						height: 15px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				td.app-date {
					&::before {
						content: "견학희망일시 : ";
						display: inline-block;
						padding-right: 5px;
					}
				}
				td {
					display: block;
					border: none;
					text-align: left;
					padding: 5px 10px;
				}
				td.board-none {
					text-align: center;
				}
			}
		}
		.imgboard-table {
			tr {
				td {
					display: block;
					width: 100%;
					border: none;
					padding: 1.5rem 2rem;
				}
				td.thumbnail {
					.thumb-wrap {
						height: 235px;
					}
				}
				td.board-subject {
					padding: 1.5rem 2rem;
					strong {
						font-size: 1.2rem;
					}
				}
			}
		}
	}

	.board-table-wrap {
		.board-table {
			tr {
				display: block;
				td{
					border: none !important;
				}
				td.board-subject {
					padding: 5px 10px;
				}
				td.board-subject.new {
					padding-left: 32px;
					&::before {
						width: 15px;
						height: 15px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				td.board-applicant {
					padding: 5px 10px;
					text-align: left;
				}
				td.board-applicant.new {
					padding-left: 32px;
					&::before {
						width: 15px;
						height: 15px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				td.app-date {
					&::before {
						content: "견학희망일시 : ";
						display: inline-block;
						padding-right: 5px;
					}
				}
				td {
					display: block;
					border: none;
					text-align: left !important;
					padding: 5px 10px;
				}
				td.board-none {
					text-align: center;
				}
			}
		}
		.imgboard-table {
			tr {
				td {
					display: block;
					width: 100%;
					border: none;
					padding: 1.5rem 2rem;
				}
				td.thumbnail {
					.thumb-wrap {
						height: 235px;
					}
				}
				td.board-subject {
					padding: 1.5rem 2rem;
					strong {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	.sub_tit_box{
		img{
			left: 1rem;
		}
		padding: 1rem;
	}
	/*기홈페이지 테이블 코드*/
	.formA{
		th{
			font-size: .9rem;
			line-height: 140%;
			padding-left: .4rem;
			padding-right: .2rem;
			*{
				font-size: .95rem;
				line-height: 140%;
				padding-left: .2rem;
				padding-right: .2rem;
			}
		}
		input {
		
			&[type="text"], &[type="password"] {
			  width: 100%;
			}
		  }
	}
	/* 가로-세로 input 테이블 */

.tableD {
	display: block;
  
	tbody, tr, td {
	  display: block;
	}
  
	thead, th {
	  display: none;
	}
  
	tr:first-of-type td:first-of-type .m_th {
	  margin-top: 1px;
	  height: calc(100% - 1px);
	}
  
	td {
	  &:last-of-type .m_th {
		border-bottom-width: 0;
	  }
  
	  min-height: 60px;
	  padding-left: 170px;
	  text-align: left !important;
	  position: relative;
	  border-bottom: 1px solid #ddd;
	}
  }
  
  .m_th {
	display: block;
	width: 160px;
	height: 100%;
	line-height: 60px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	background: #f9f9f9;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #ddd;
  
	&.line2 {
	  padding: 7px 10px;
	  line-height: 1.4em;
	}
  
  }
  
  .tableD {
	.inp_cal {
	  .inp_txt {
		width: 10px;
	  }
  
	  .W50:not([class^=cke]) {
		width: calc(50% - 5px);
	  }
	}
  
	.lh50 {
	  td {
		min-height: 50px;
	  }
  
	  .m_th {
		line-height: 50px;
	  }
	}
	input{
		height: 40px !important;
	}
  }
  
  .btn_add {
	min-width: 70px;
	padding: 0 12px;
  }
  
	.table_tit {
		padding: 0 15px;
		margin-bottom: 5px;
		color: #888;
		font-size: 15px;
	  
		.tit1 {
		  font-size: 15px;
	  
		  .fc_red {
			font-size: 18px;
			font-weight: 500;
		  }
		}
	  
		.table_tit_page {
		  margin-top: 5px;
		}
	  }
	  
	  .tableA {
		display: block;
		width: 100%;
	  
		tbody {
		  display: block;
		  width: 100%;
	  
		  &:after {
			content: "";
			display: block;
			clear: both;
		  }
		}
	  
		thead {
		  display: none;
		}
	  
		tr {
		  float: left;
		  display: block;
		  width: 100%;
		  padding: 10px 15px;
		  position: relative;
		}
	  
		td {
		  display: block;
		  text-align: left;
		  padding: 0;
		  height: inherit;
		}
	  
		.tit {
		  display: inline;
	  
		  a {
			display: inline;
			overflow: visible;
			white-space: normal;
			line-height: 18px;
		  }
		}
	  }
	  
	  .icon_lock {
		width: 18px;
		height: 18px;
		background-size: 18px;
		vertical-align: middle;
	  }
	 
	  .tableA {
		.m_none {
		  display: none;
		}
	  
		.m_fc_blue {
		  display: inline;
		  color: $light-primary-main;
		  line-height: 18px;
		}
	  
		.m_date {
		  display: block;
		  margin-top: 5px;
		  color: $light-grey-grey-500;
		  text-align: left;
		}
	  }
	  .sub-o .tableA{
		.m_fc_blue {
			display: inline;
			color: $light-orange-main;
			line-height: 18px;
		  }
	  }
	  .board_private {
		display: inline-block;
		width: 60px;
		padding: 2px;
		text-align: center;
		font-size: 14px;
		border: 1px solid #ddd;
		position: absolute;
		bottom: 10px;
		right: 15px;
	  }
	  
	.m-hide {
		display: none !important;
	}
	/*게시글 상세*/
	/* 게시판 view */

.view_tit_list {
	padding: 5px 15px;
  }
  
  .view_tit_box .tit1 {
	font-size: 20px;
	padding: 15px;
  }
  
  .view_file_box {
	padding: 10px 15px;
  
	.tit2 {
	  display: none;
	}
  }
  
  .view_file {
	padding-left: 0;
  }
  
  .view_nav {
	margin-top: 20px;
  
	> li {
	  padding: 0 20px;
  
	  > span {
		padding-right: 20px;
		margin-right: 20px;
	  }
	}
  }
  
  .editor_view {
	padding: 20px 15px;
  }
  
  .view_link {
	.tit1 {
	  left: 25px;
	}
  
	.a_href {
	  display: block;
	  padding-left: 110px;
	  word-break: break-all;
	}
  }
  
  .view_info {
	padding: 10px 15px 12px;
  }
  
  .board_reply {
	padding: 0 15px;
  
	.view_tit_list {
	  padding: 0;
	}
  
	.view_file {
	  padding-left: 0;
	}
  }
  
	.board_view{
		.contents{
			padding: 1rem;
			p{
				font-size: 1rem;
			}
		}
	}

	.board_pdf {
		box-sizing: border-box;
		  display: contents;
		  width: calc(100% + 0px);
		  width: calc(100% + 5.5rem);
		  & > * {
			  clear: none;
			  display: inline-block;
			  width: calc(49.5% - 0px);
			  margin-right: 0px;
		  }
		  li{
			vertical-align: middle;
			padding: .5rem .5rem 1rem .5rem;
		  }
		  .item{
			.title{
				@include font-light-typography-h6;
				height: 3.8rem;
				-webkit-line-clamp: 2;
				line-clamp: 2;
			}
		  }
		}
		.board_photo{
			li{
				vertical-align: top;
				.item{
					.title{
						font-size: 1rem;
						max-height: 3rem;
						height: inherit;
					}
				}
			}
		}
		.breadcrumb{
			li{
				.txt{
					font-size: 1rem;
				}
			}
		}
		.navy-round-tag{
			margin-bottom: 1rem !important;
			margin: 0 auto;
			@include font-light-typography-body-2-semibold;
		}
	/*페이지별*/
	.main{
		.fixed-alarm{
			display: none;
		}
		.swiper0{
			
			.swiper0-prev, .swiper0-next{
				img{
					width: 2.7rem;
				}
			}
		}
		.main-banner{
			.swiper-slide{
				height:70vh;
			}
			.banner-wrap{
				height: 100%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				.title{
					img{
						height: 3.4rem;
					}
				}
			}
			.slide_02{
				.inner{
					.illust{
						height: 10rem;
					}
					.title{
						img{
							width: 100%;
						}
					}
					form{
						margin-bottom: .5rem;
					}
					.ipt_search{
						.keyword-layer{
							.keyword-auto{
								display: inline-block;
								li{
									float: left;
									margin-right: .3rem;
									margin-bottom: .8rem;
									&::after{
										clear: both;
									}
									a{
										
										padding: .3rem .5rem;
										font-size: .9rem;
										word-break: keep-all;
									}
								}
							}
						}
					}
				}
			}
			.slide_03{
				.inner{
					.title-wrap{
						display: none;
						padding-bottom: 1rem;
						background-size: 40% auto;
						p{
							font-size: 1rem;
							line-height: 1.2rem;
						}
						.btn{
							font-size: 1rem;
							height: 38px;
							line-height: 38px;
						}
						img{
							height: 2rem;
						}
					}
					.data-wrap{
						.market-table{
							thead{
								th{
									font-size: .8rem;
									height: 1.5rem;
								}
							}
							tbody{
								tr{
									td{
										padding: .2rem;
										height: 1.5rem;
									}
								}
							}
						}
						.bottom{
							display: block;
							.product-info{
								padding: .5rem 0;
								justify-content: start;
								.product-details{
									p.align{
										font-size: .9rem;
									}
									p.price{
										font-size: 1rem !important;
									}
									h5{
										font-size: 1.2rem;
										&::before{
											width: 1.2rem;
										}
									}
								}
								.product-image{
									width: 3.8rem;
									height: 4rem;
								}
							}
						}
						
						.market-info{
							.date{
								font-size: .8rem;
							}
							.market-title{
								display: inline-block;
								font-size: 1rem;
								img{
								width: .9rem;
								margin-right: .3rem;
								}
							}
							.market-desc{
								font-size: .9rem;
								line-height: 1.2rem;
							}
						}
						.market-header{
							.market-title{
								display: flex;
							}
						}
					}
				}
			}
			.slide_04{
				.inner{
					.title-wrap{
						img{
							width: 100%;
						}
						.btn{
							font-size: 1rem;
							height: 40px;
							line-height: 40px;
						}
					}
					.col .garak-img{
						width: 100%;
					}
				}
				
			}
		}
		.sec_02{
			.banner-wrap{
				.banner_slide{
					.swiper-option{
						top: 1rem;
						left: 1rem;
					}
					.swiper-slide{
						.img_box{
							border-radius: 1rem;
						}
					}
				}
				.box{
					border-radius: 1rem;
				}
				.red-banner{
					border-radius: 1rem;
				}
			}
		}
		.sec_03{
			.title-wrap{
				h5{
					font-size: 1.4rem;
					line-height: 2rem;
				}
			}
			.detail-btn{
				float: right !important;
				margin: 1rem 0;
			}
			.swiper-container{
				clear: both;
			}
			.box{
				padding: 1.5rem;
				dt{
					font-size: 1.2rem;
				}
			}
		}
		.sec_04{
			background: none;
			.container{
				.todayPopularWrap{
					border-radius: 1rem;
					.green-top{
						padding: 1.5rem;
					}
					.popularItem{
						.popularItem-image{
							height: 10rem;
						}
						.popularItem-image,
						.popularItem-price {
							width: 100%;
							border-radius: 0;
							img{
								border-radius: 1rem;
							}
							span{
								text-align: left;
							}
							.item-rank{
								text-align: center;
								top: -.5rem;
								left: -.5rem;
							}
						}
					}
				}
				.chartWrap{
					.charts{
						display: block;
					}
				}
				.btn-wrap{
					margin-top: 0;
				}
			}	
		}
		.sec_05{
			img.title{
				height: 4rem;
			}
			.grid-container{
				display: block;
				.column{
					width: 100%;
					padding: 0;
					.box{
						width: 100%;
						height: 10rem;
					}
				}
			}
		}
		.sec_06{
			.text-section{
				padding: 0 2rem;
			}
			.arrow-wrap{
				justify-content: end;
			}
			.illustration{
				display: block;
				margin: 0 auto;
			}
			.arrow-wrap{
				position: absolute;
				bottom: -50%;
				left: 0;
				width: 100%;
				justify-content: space-between;
			}
		}
		.sec_07{
			.l3:nth-child(even){
				margin: inherit;
			}
			.box{
				.thumbnail{
					height: 14rem;
				}
			}
		}
	}
	.snb{
		display: none;
		li{
			a{
				font-size: 1rem;
			}
		}
	}
	.inp_cal{
		.select-wrap, .date-wrap, .srch-wrap{
			margin-bottom: .5rem;
		}
		.form-wrap{
			width: 100%;
		}
	}
	.sub{
		.vision-wrap{
			background-size: cover;
			background: $light-info-contrast;
			p{
				@include font-light-typography-h5;
				padding: 2rem 0;
			}
		}
		.image-wrap{
			margin-top: 2rem;
			.col{
				float: none;
				margin: 0 auto;
			}
		}
	}
	.company_history{
		.banner-wrap{
			padding-top: 2rem;
			padding-bottom: 3rem;
			display: block;
			.text-wrap{
				display: block;
				margin-left: 0;
				.left{
					display: flex;
					h2{
						font-size: 1.4rem;
						margin-bottom: .5rem;
					}
				}
				.right{
					h5{
						margin-bottom: 1rem;
					}
				}
				
			}
			.float-img{
				bottom: -2rem;
				right: 1rem;
				width: 9rem;
				height: 5rem;
			}
		}
		.history_wrap {
			.list {
			  padding-left: 3rem;
		  
			  .year_box {
				margin-left: 0rem !important;
				text-align: left !important;
				padding-left: 0 !important;
				margin-bottom: 3rem;
		  
				&::before {
				  left: -2.9rem !important;
				}
			  }
		  
			  li {
				padding-bottom: 4rem;
		  
				&::before, &:after {
				  left: -2.6rem;
				}
		  
				.month {
				  margin-right: 2rem;
				  margin-left: 0 !important;
				}
			  }
			}
		  
			.his_inner {
			  -webkit-box-orient: vertical !important;
			  -webkit-box-direction: normal !important;
			  -ms-flex-direction: column !important;
			  flex-direction: column !important;
			  display: block;
			}
		  
			.his_thumb {
			  padding-right: 0 !important;
			  padding-left: 0 !important;
			  max-width: 100% !important;
		  
			  .bg_img {
				margin-left: 0 !important;
			  }
		  
			  img {
				width: 100%;
			  }
			}
		  
			.his_pager {
			  margin-left: 0 !important;
			  max-width: 100% !important;
			  margin-top: 3rem;
			  padding: 0 !important;
		  
			  .txt_box {
				-webkit-box-orient: horizontal !important;
				-webkit-box-direction: normal !important;
				-ms-flex-direction: row !important;
				flex-direction: row !important;
				text-align: left !important;
			  }
		  
			  .swiper-slide.swiper-slide-active span {
				&:before {
				  width: 0px !important;
				  opacity: 0 !important;
				  margin-right: 0 !important;
				}
		  
				&:after {
				  opacity: 1;
				  width: 6px;
				  margin-left: 0.8rem;
				}
			  }
			}
		  
			.swiper-controls {
			  left: 2rem !important;
			  right: initial !important;
			}
		  }
	}
	.company_vision{
		.vision-container {
		  .navy-round-tag.blue{
			font-size: 1.3rem;
		  }
		  .title {
			text-align: center;
			font-size: 2.5rem;
			color: white;
			padding: 20px;
			border-radius: 10px;
		  }
		  .mission, .vision, .core-values, .goals {
			.navy-round-tag{
				margin-top: auto;
			}
		  }
		  .mission {
			align-items: center;
			border: 1px solid $light-other-outlined-border;
			
			.mission-box {
			  text-align: center;
			  color: white;
			  padding: 20px;
			  border-radius: 8px;
		
			  img {
				max-width: 6rem;
				margin-top: 10px;
			  }
		
			}
		
			.plus {
			  font-size: 2.4rem;
			}
		  }
		  .vision {
			h4{
				font-size: 1.2rem;
	
			}
		  }
		  .value-wrap{
			display: inline-block;
			margin: 0 auto;
		  }
		  .core-values {
			
			.navy-round-tag{
				display: block;
				width: fit-content;
			}
		
			.value {
		
			  margin-right: 0;
			  img {
				max-width: 80px;
				margin-bottom: 10px;
			  }
		
			  p {
				font-size: 1.2rem;
				color: #fff;
				span {
				  display: block;
				  color: #fff;
				  font-size: 0.8rem;
				}
			  }
			}
		  }
		  .goals{
			border: 1px solid $light-other-outlined-border;
			.goal-cards {
				width: 100%;
				display: inline-block;
			
				.goal {
				  box-sizing: border-box;
				  text-align: center;
				  padding: 1rem;
				  border-radius: 8px;
				  margin-bottom: 1rem;
				 margin-right: 1rem;
				  p { font-weight: bold; margin-bottom: 10px; color: #fff;
				&::after{
					display: block;
					content: url("../../images/line_intro-vision.svg");
				}
				}
				  span{color: #fff;}
				}
				.goal:last-child{
					margin-bottom: 0;
				}
			  }
		  }
		 
		
		.strategy-container {
		  .row {
			display: flex;
			margin-bottom: 20px;
		
			.strategy-group {
			  .strategy-title {
				font-size: 18px;
				font-weight: bold;
				color: #0060a5;
				margin-bottom: 10px;
				text-align: center;
			  }
		
			  .strategy-list {
				list-style: none;
				padding: 0;
		
				li {
				  padding: 15px;
				  color: #fff;
				  font-size: 16px;
				  text-align: center;
				  border-radius: 8px;
				}
			  }
			}
		
			.tasks-group {
			  .tasks-title {
				font-size: 18px;
				font-weight: bold;
				color: #0060a5;
				margin-bottom: 10px;
			  }
		
			  .tasks-list {
				list-style: none;
				padding: 0;
		
				li {
				  display: flex;
				  align-items: center;
				  margin-bottom: 10px;
				  font-size: 16px;
				  line-height: 1.6;
		
				  .circle {
					width: 24px;
					height: 24px;
					margin-right: 10px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 14px;
					font-weight: bold;
					color: #fff;
				  }
				}
			  }
			}
		  }
		}
		.strategy-container {
			.title{
				@include font-light-typography-body-1-semibold;
				font-weight: 600;
				color: $light-secondary-main;
				background: #EFF2F5;
			}
			display: block;
			padding: 20px;
		  
			.row {
			 width: 100%;
			  display: flex;
			  align-items: stretch; /* 높이를 균일하게 */
			  gap: 20px;
		  
			  .strategy-group,
			  .tasks-group {
				display: flex;
				flex-direction: column;
				justify-content: center; /* 콘텐츠를 가운데 정렬 */
				flex: 1;
		  
				ul {
				  margin: 0;
				  padding: 0;
				  list-style: none;
				}
		  
				.strategy-list {
					height: 100%;
				  li {
					width: 8rem;
				  }
				}
		  
				.tasks-list {
					padding: 15px;
					border: 1px solid $light-other-outlined-border;
				  li {
					display: flex;
					align-items: center;
					font-size: 16px;
					margin-bottom: 10px;
		  
					.circle {
					  width: 20px;
					  height: 20px;
					  margin-right: 10px;
					  border-radius: 50%;
					  display: flex;
					  justify-content: center;
					  align-items: center;
					  font-size: 12px;
					  font-weight: bold;
					  color: #fff;
					}
				  }
				  li:last-child{
					margin-bottom: 0;
				  }
				}
			  }
		  
			  .strategy-group {
				flex: 0.25; /* 비율 조정 */
				max-height: 100%; /* 그룹 높이를 고정 */
			  }
		  
			  .tasks-group {
				flex: 0.75; /* 비율 조정 */
			  }
			}
		  }
		  
		}
		
		}
	.company_structure{
	/*조직도*/
	.group_map {
		.audit{
			right: -5rem;
		}
	}

	.sch_box li{
		line-height: inherit;
	}
	}
	/*고객서비스헌장*/
	.service_list_box{
		.service_list_txt, .service_list_tx, ol.service_list li{
			@include font-light-typography-body-1;
		}
		ol.service_list{
			li{
				height: auto;
			}
		}
		
		
	}
	/*인권침해신고센터*/
	.hr_report{
		.box_arr_flow{
			display: block;
			li{
				width: 100% !important;
			}
			li::before{
				right: auto;
				left: 50%;
				top: 110%;
				margin-left: -15px;
				transform: rotate(90deg);
			}
		}
	}
	/*esg전략체계*/
	.grey-round-tag{
		padding: 1.2rem 1rem;
	}
	/*esg_report*/
	.esg_report{
		.rep_each{
			border-right: none;
			margin-bottom: 3rem !important;
		}
	}
	.esg_strategy{
		.sec_01{
			.row .col{
				float: none;
				
			}
		
			.col.l12{
				.table-title{
					width: 100% !important;
					display: block !important;
				}
				.col.l10{
					margin: 0;
					display: contents;
				}
				tr{
					padding: 2rem;
				}
				.col.l4{
					display: contents;
					
				}
			}
			.col1{
				.col.l10{
					height: inherit;
					background-size: contain;
					h5{
						padding: 1rem 0;
						font-size: 1.2rem;
					}
				}
			}
			.col3{
				ul{
					li{
						line-height: 2.4rem;
					}
				}
				table{
					display: block;
					padding: 1.5rem;
					border: 2px solid $light-grey-grey-200;
				}
				.col.l10{
					padding: 0;
				}
			}
		}
		.sec_02{
			h5{
				font-size: 1.2rem;
			}
		}
	}
	/*근로자작업중지*/
	.work_suspend{
		.change-area:nth-child(3) .sec_02 dl:before{
			transform: rotate(90deg);
			right: inherit;
			top: inherit;
			bottom: -35px;
			margin: 0;
			left: 50%;
			margin-left: -15px;
		}
	}
	.open_data{
		.sec_02{
			dl{
				h2{
					font-size: 2.5rem;
					margin-bottom: 1rem;
				}
				dd{
					line-height: inherit;
				}
			}
			dl::after{
				
				transform: rotate(90deg);
				right: inherit;
				top: 105%;
				margin: 0;
				left: 50%;
				margin-left: -15px;
			}
		}
	}
	.open_data_develop{
		.open_data_link{
			.data_link_list{
				.txt1{
					min-height: inherit;
				}
				li{
					width: 100%;
					display: block;
				}
			}
		}
	}
	/*고객센터*/
	/* 민원처리 업무 step */
	.step_list{
		text-align: center;
	}
	.sl_tit {
		float: none;
		width: 120px;
		height: 120px;
		padding-top: 32px;
		font-size: 16px;
		border-width: 6px;
		background-color: #fff;
		display: inline-block;
		text-align: center;
	}
	
	.sl_list {
		width: 70%;
		margin: 0 auto;
		text-align: left;
		background: url(../../images/step_list_bg2.png) no-repeat left 50px bottom;
	
		> li {
			display: flex;
			align-items: center;
		&:first-child {
			margin-top: 20px;
		}
	
		position: relative;
		}
	
		.tit1 {
		width: auto;
		height: auto;
		padding: 2px 10px;
		font-size: 15px;
		background: #fff;
		border: 2px solid #ddd;
		border-radius: 20px;
		margin-right: 1rem;
	
		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			background: url(../../images/step_list_tit2.png) no-repeat;
			position: absolute;
			top: 3px;
			left: -35px;
		}
		}
	
		.tit2 {
		}
	}
	/*행사참여*/
	.event{
	.event_img_box {
		> li {
		float: none;
		width: 100%;
		margin-bottom: 0;
		border-width: 0;
		border-top: 1px solid #ddd;
	
		&:last-child {
			border-bottom-width: 1px;
		}
		}
	
		.event_img {
		width: 100%;
		height: auto;
		text-align: center;
	
	}
}
	}
	.event_view, .event_con_box{
		float: none;
		width: auto;
				height: auto;
		.event_img{
			
				float: none;
				display: block;
				width: auto;
				height: auto;
				text-align: center;
			
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	/*친환경유통센터 견학*/
	.ecofriendly{
		.sec_02{
			dl{
				&::after{
					right: 46%;
					bottom: -2rem;
					top: inherit;
					transform: rotate(90deg);
				}
			}
		}
	}
	.digitalm{
		.sec_01{
			img.main{
				width: 100% !important;
				height: auto!important;
			}
		}
		.sec_02{
			dl{
				&::after{
					content: none;
				}
			}
		}
	}
	.busi-highlight{
		.sec_01{
			dl{
				&::after{
					right: 46%;
					bottom: -2.5rem;
					top: inherit;
					transform: rotate(90deg);
				}
			}
		}
	}
	.busi-food{
		.gr_step{
			
			dl{
				dt{
					height: auto;
					display: block;
					text-align: center;
					padding: .5rem;
				}
				dd{
					height: fit-content;
					display: inline-block;
				}
				text-align: center;
				&::after{
					margin-left: 0;
				}
			}
		}
	}
	/* 도매시장_유통안내 */
	.market-status{


.scroll_box .img_sm img {
	width: auto;
  }
  
  .chulha_step_list > li {
	float: none;
	width: auto;
	margin-right: 0;
	margin-bottom: 5px;
	padding: 10px 15px;
	min-height: auto;
  
	&:after {
	  display: none;
	}
  }
  
.chulha_process {
  display: block;
  width: auto;

  .box1, .box2 {
    display: block;
    width: auto;
  }

  .step_box {
    display: block;
  }

  .tit_box1 {
    padding-bottom: 10px;
  }

  .tit1 {
    width: 120px;
    height: 60px;
    padding-top: 6px;
    font-size: 18px;
    background-size: 120px auto;
  }

  .txt1 {
    margin: 5px 0 10px;
  }

  .con_box1 {
    min-height: auto;
  }

  .step_box {
    width: 90%;
    margin: 10px auto;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .step1 {
      float: left;
      width: 30%;
      min-height: 100px;
      margin-left: 5%;
      margin-bottom: 0;
      padding: 0 15px;
      background-image: url(../../images/icon_market_chulha_pr7.png);
      background-size: auto 100px;
      background-position: right top;

      br {
        display: block;
      }

      &:first-child {
        margin: 0;
        background-image: url(../../images/icon_market_chulha_pr6.png);
      }
    }
  }
}

  
  .garak_info {
	.box1 {
	  float: none;
	  width: auto;
  
	  &:first-child {
		margin-right: 0;
		margin-bottom: 15px;
	  }
	}
  
	.con_box1 {
	  min-height: auto;
	}
  }
  
  .sub_con_tit2 .link_a {
	margin-top: 4px;
	font-weight: 400;
  }
  
  .glo_img {
	float: none;
  }
  
  .glo_con {
	padding-left: 0;
	margin-top: 15px;
  
	.dl_box {
	  height: auto;
	}
  
	dl {
	  min-height: auto;
	  padding: 10px 0;
  
	  &:first-of-type {
		padding-top: 10px;
	  }
	}
  }
  
	}
	.market-proced{
		.step-wrap01, .step-wrap02{
			dl{
				&::before{
					content: none !important;
				}
				&::after{
					content: url("../../images/icon_market-proced_arrowR.svg");
					position: absolute;
					bottom: -1rem;
					font-size: 2rem;
					left: 50%;
					top: inherit !important;
					right: inherit !important;
					margin-left: -2rem;
					z-index: 1;
					transform: rotate(90deg) !important;
				}
			}
			.flex-top:last-child{
				dl:last-child{
				 &::after{
					content: none;
				 }
				}
			}
		}
		.step-wrap02{
			
			dl{
				&::after{
					transform: inherit;
				}
			}
			.row2{
				dl:nth-child(1){
					&::after{
						content: url("../../images/icon_market-proced_arrowR.svg");
					}
				}
				dl:nth-child(3){
					&::after{
						content: none !important;
					}
				}
			}
		}
	}
	/*도매시장 이용안내*/
	.market-dm{

.dm_tit {
	margin-top: -50px;
	display: inline-block;
	width: auto;
	height: auto;
  
	.tit1 {
	  padding: 20px;
  
	  br {
		display: none;
	  }
	}
  }
  
  .dm_img_box .bold_list {
	margin: 15px 0 0 0;
  }
  
  .dm_map_list {
	> li > img {
	  display: none;
	}
  
	.con_box {
	  padding-left: 0;
	}
  }
  
  .bold_list {
	> li:after {
	  content: "";
	  display: block;
	  clear: both;
	}
  
	.bold {
	  float: left;
	}
  
	.txt1 {
	  display: block;
	  padding-left: 80px;
	}
  }
  
  .table_bus {
	colgroup {
	  display: none;
	}
  
	th {
	  width: 100px;
	}
  }
  
  .bus_list {
	> li {
	  display: block;
	  width: auto;
	  padding: 10px;
  
	  &:after {
		content: "";
		display: block;
		clear: both;
	  }
  
	  &:nth-child(2n-1) {
		border-bottom: 1px solid #ddd;
	  }
  
	  &:last-child {
		border-bottom-width: 0;
	  }
	}
  
	.bus_route {
	  display: block;
	  padding-left: 75px;
	}
  }
  
	}
	.market-login{
		.login-box{
			width: 100%;
		}
	}
	.market-fish{
		/* tabF */

.tabB + .tabF {
	margin-top: 0;
  }
  
  .tabF {
	display: inline-block;
	margin-bottom: 25px;
	padding: 12px;
	background: #eaeaea;
	li, &.pcs3 > li, &.pcs4 > li, &.pcs5 > li, &.pcs6 > li, &.pcs12 > li {
		width: fit-content;
        display: inline-block;
	}
  
	li {
		width: inherit;
	  a {
		height: auto;
		line-height: normal;
		margin: 3px;
		padding: 3px 15px;
		color: #696969;
		background: #F6F6F6;
		border: 1px solid #bbb;
		font-size: 16px;
	  }
  
	  &.active a {
		line-height: normal;
		font-weight: 400;
		color: #fff;
		background: #263b75;
		border: 1px solid #263b75;
	  }
	}
  }
  
  .tab_onoff_con_box .sub_tit_box {
	padding-top: 0;
  
	img {
	  top: 0;
	}
  }
  
	}
	/*시장안내 > 스텝리스트*/
	.sub-o{
		/* ars */

		.ars_use_box .each {
			margin-bottom: 25px;
		}
		
		.list_icon_box {
			&:before {
			display: none;
			}
		
			&:after {
			width: 1px;
			height: 60%;
			top: 90px;
			left: 49px;
			right: auto;
			}
		}
		
		.list_icon {
			display: block;
		
			> li {
			display: block;
		
			&:after {
				display: none;
			}
			}
		}
		
		.icon_tit_box {
			.con_box {
			width: auto;
			height: auto;
			padding: 0;
			margin: 0;
			background: none;
			text-align: left;
			}
		
			.tit_num {
			font-size: 18px;
			color: #004896;
			}
		
			.tit1 {
			display: inline-block;
			font-size: 18px;
			color: #004896;
			}
		}
		
		.list_icon {
			.icon_box {
			display: table;
			width: 100%;
			margin: 30px 0 0 0;
		
			.img_box {
				display: table-cell;
				width: 90px;
				height: 90px;
				margin: 0;
				background-size: 100%;
				vertical-align: top;
			}
			}
		
			.icon_num {
			width: 25px;
			height: 25px;
			font-size: 14px;
			padding: 2px 0;
			top: -12px;
			left: 35px;
			margin-left: 0;
			}
		
			.icon_box .txt_box {
			display: table-cell;
			vertical-align: middle;
			}
		}
		
		.icon_box {
			.ver_m {
			margin-left: 12px;
			padding: 10px 15px;
			text-align: left;
			background: #fff;
			border: 1px solid #d3d3d3;
			border-radius: 5px;
			}
		
			.icon_num:before {
			content: "";
			display: block;
			width: 13px;
			height: 1px;
			background: #d3d3d3;
			position: absolute;
			top: 57px;
			right: -42px;
			}
		}
		
		.list_icon {
			.txt_box {
			.bd_box {
				width: auto;
				margin: 0;
				padding: 0;
				font-size: 15px;
				background: none;
				border: none;
				word-break: break-all;
		
				&:after {
				display: none;
				}
			}
		
			.txt1 {
				width: auto;
				margin: 0;
				word-break: break-all;
			}
			}
		
			.img_box {
			img {
				width: 40px;
				margin-top: 25px;
			}
		
			&:after {
				display: none;
			}
			}
		}
		
		.list_icon_box.pcs4 {
			.icon_tit_box, .txt_box .bd_box {
			width: auto;
			}
		}
		
		.icon_tit_box + .icon_box {
			margin-top: 20px;
		}
		
		.tabE {
			margin-top: 15px;
		
			li a {
			height: 40px;
			}
		}
		
		.pd_code {
			.tit_box1 {
			width: 100%;
		
			&.m_none {
				display: none;
			}
		
			.tit1 {
				padding: 5px 10px;
		
				&:last-of-type {
				border-right-width: 1px;
				}
			}
			}
		
			.txt_box1 {
			> li {
				float: none;
				width: 100%;
			}
		
			.txt1 {
				padding: 5px 10px;
			}
		
			> li {
				&:nth-child(3n-1), &:nth-child(3n) {
				border-left-width: 1px;
				}
			}
			}
		}
		
		.faq_a_txt_box {
			padding: 10px 35px;
		}
		
	}
	/* 출하자등록_로그인 */
	.market-login{
		
		.num_search.pcs1>div{
			width: 100%;
		}
		.shipment>.tit1 {
			margin: 20px 15px;
			font-size: 26px;
		}
	
		.login_box {
			width: auto;
			margin: 20px auto;
			padding: 20px 15px;
			border-width: 0;
			.ip_box{
				li{
					display: flex;
					align-items: center;
				}
				input{
					width: 100%;
				}
				label{
					width: 8rem;
				}
			}
		}
		
		.ship_login {
			.inner_btn_box{
				display: flex;
				justify-content: center;
				*{
					@include font-light-typography-body-2;
				}
				.bd_arr_btn{
					padding: 0;
					margin: 0;
					margin-right: 1rem;
					padding-right: 1rem;
				}
				.bd_arr_btn:last-child{
					margin: 0;
				}
			}
			.gr_list {
			margin-bottom: 20px;
			}
		
			.light_bd_box {
			margin-bottom: 0;
			padding: 15px;
			word-break: break-all;
			}
		}
		
	}

	.market-safety{
		/* 안전성검사소개 */
	.sec_01{
		.safety_list{
			li{
				display: flex;
			}
		}
	}
	.sec_02{
		.sub_con_tit3{
			font-size: 1rem;
		}
		.vtc_list{
			li{
				padding: 3rem 1rem 1rem 1rem;
				.vtc_num{
					font-size: 1.2rem;
				}
				.txt1{
					font-size: 1rem;
				}
			}
		}
		
	}
	.sec_03{
		.gb_box{
			img{
				height: 3rem;
				margin-top: 3rem;
			}
		}
		.gb_tit{
			font-size: 1.2rem;
			*{
				font-size: 1.2rem;
			}
		}
		.gb_tit2{
			font-size: 1rem;
			padding: .3rem 1rem;
		}
	}

  .img_con {
	img {
	  float: none;
	}
  
	p {
	  padding-left: 0;
	  margin-top: 10px;
	}
  }
  
  .gb_box {
	padding: 20px 15px;
  }
  
  .gb_tit_box {
	margin-bottom: 30px;
  }
  
  .gb_tit {
	display: block;
	margin-bottom: 5px;
	font-size: 26px;
  
	span {
	  font-size: 24px;
	}
  }
  
  .txt_rt {
	float: none;
	text-align: left;
  }
  
  .list_icon_box.pcs5 {
	&:after {
	  top: 0;
	  height: 90%;
	}
  
	.img_box img {
	  margin-top: 25px;
	}
  
	.txt_box .bd_box {
	  padding: 0;
	}
  }
  
  .icon_txt_box2 {
	width: auto;
	margin-top: 5px;
	margin-left: 0;
  }
  
  .ethic_list {
	> li > img {
	  width: 100px;
	}
  
	.ethic_con {
	  width: calc(100% - 120px);
	  margin-left: 15px;
	}
  }
  
	/* 출하전안전성서비스안내 */
	.gb_tit_box{
		margin-bottom: 0;
	}
	.gb_con{
		padding-bottom: 0;
		margin-bottom: 0;
		.step-wrap{
			dl{
				.float{
					display: block;
					position: relative;
					bottom: initial;
					height: initial;
					margin-top: 1rem;
				}
			}
		}
	}
	}
	.market-import{
		.product-list{
			.product{
				vertical-align: top;
				.img-box{
					height: 4rem;
				}
			}
		}
	}
	.market-radon{
		.safety_list{
			li{
				min-height: initial;
				.safety_con{
					min-height: initial;
				}
			}
		}
	}
	.garak-mall{
		.sec_01{
			.intro-list {
				.l4{
					border-radius: .5rem;
					width: inherit;
					height: inherit;
				img{
					height: 3rem;
				}
				}
				.l8{
					text-align: center;
					img{
						display: block;
						margin: 0 auto;
						margin-bottom: 1rem !important;
						height: 2.9rem;
					}
				}
			}
		}
		.dong_list{
			li{
				width: 49%;
				padding: 0;
				margin: 0;
				img{
					width: 100%;
				}
			}
			li:nth-child(odd){
				margin-right: 2%;
				margin-bottom: 1rem;
			}
		}
	}
	.garak-whereis{
		.tabs{
			margin-bottom: 2rem;
			.tab{
				a{
					height: 4rem;
					p{
						@include font-light-typography-body-1-semibold;
					}
				}
			}
		}
		.mapflow{
			width: 100% !important;
		}
		.l7.change-area{
		.bus-info{
			height: inherit;
			padding: 2rem;
			ul{
				li{
					height: inherit;
				}
			}
		}
			img{
				height: inherit;
			}
		}
		ul.flex{
			display: block;
			li{
				margin-bottom: 1rem;
			}
		}
		h5{
			font-size: 1.2rem;
		}
	}

	.garak-search{
		.store_search{
			width: 100%;
			.search_input{
				input{
					width: 100%;
				}
			}
		}
		.search_detail{
			ul{
				li{
					width: 30%;
				}
			}
		}
		.modal{
			width: 95%;
		}

		.border_wrap {
			.border_table {
				width: 100%;
			}
		}
		.sub_search{
			height: inherit;
			margin-top: 1rem;
			margin-bottom: 1rem;
			.list_view{
				position: relative;
				float: right;
			}
		}
		.card_table{
			width: 100%;
		}
		.card_list{
			width: 100%;
			td{
				margin-bottom: 1rem;
				width: 100%;
				height: inherit;
				margin-left: 0;
				a{
					padding-bottom: 1rem;
				}
			}
		}
		/* 매장안내 상세 */
		.main-wrap{
			width: 100% !important;
		}
	.store_banner_wrap {
	position: relative;
	height: 250px !important;
	overflow: hidden;

	> .store_banner {
	position: relative;
	border-bottom: 1px solid #dbdbdb;
	bottom: 0;
	height: 250px;
	overflow: hidden;
	}
	}

  .store_banner img {
	width: 100%;
	height: 100%;
	display: block;
  }
  
  .store_banner_wrap ul {
	width: 100%;
	height: 8px;
	position: absolute;
	bottom: 20px;
	text-align: center;
  
	li {
	  display: inline-block;
	  height: 250px;
  
	  &.on.control_btn a {
		width: 9px;
		height: 8px;
		background: url(../../images/m/sub_banner_control_on.png) no-repeat;
		background-size: 9px 8px;
	  }
  
	  &.control_btn a {
		width: 9px;
		height: 8px;
		background: url(../../images/m/sub_banner_control.png) no-repeat;
		background-size: 9px 8px;
	  }
	}
  }
  
  /* .store_banner_wrap ul li a{display:block} */
  
  .store_contents_wrap {
	padding: 0 15px;
  
	h3 {
	  margin: 15px 0;
	  font-size: 1.750em;
	  font-weight: 500;
	}
  
	table {
	  border: 1px solid #e2e2e2;
	  width: 100%;
  
	  tr {
		border-top: 1px solid #e2e2e2;
  
		&:first-child {
		  border-top: 0;
		}
	  }
  
	  th {
		border-right: 1px solid #e2e2e2;
		background: #fbfbfb;
		font-size: 0.875em;
		font-weight: 500;
		padding: 12px 10px;
	  }
  
	  tr td {
		padding: 12px 10px;
		font-size: 0.875em;
		font-weight: 400;
	  }
	}
  
	.btn_list:before {
	  content: "";
	  display: inline-block;
	  width: 11px;
	  height: 16px;
	  background: url(../../images/m/btn_icon_01.png) no-repeat;
	  background-size: 11px 16px;
	  padding-left: 8px;
	  position: relative;
	  top: 2px;
	}
  
	.btn_list_vr:before {
	  content: "";
	  display: inline-block;
	  width: 18px;
	  height: 10px;
	  background: url(../../images/m/btn_icon_02.png) no-repeat;
	  background-size: 18px 10px;
	  padding-left: 8px;
	  position: relative;
	  top: -1px;
	}
  
	.btn_center {
	  padding-bottom: 30px;
	}
  }
  
  /* 층별안내 */
  .main_mall_wrap{
	display: none;
  }
  .floor_mall_wrap {
	display: block;
	position: relative;
  }
  
  .floor_img {
	text-align: center;
	background: #fbfbfb;
	border-bottom: 1px solid #e2e2e2;
  
	img {
	  width: 320px;
	  height: 217px;
	  margin-top: 30px;
	  margin-bottom: 15px;
	}
  }
  
  .mall_btn_wrap {
	width: 320px;
	height: 289px;
	margin: auto;
	position: relative;
	margin-top: -289px;
  }
  
  .mall_btn {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	background: #2c4337;
	font-size: 0.813em;
	color: #fff;
	text-align: center;
	font-weight: 400;
	transition: all 0.3s;
	opacity: 0.7;
	width: fit-content;
	padding: 6px 12px;
	border-radius: 2px;
	line-height: 1.1rem;
  
	&.on {
	  opacity: 1;
	}
  
	&.mall_btn_01 {
	  top: 145px;
	  left: 40px;
	}
  
	&.mall_btn_02 {
	  top: 115px;
	  left: 130px;
	 
	}
  
	&.mall_btn_03 {
	  top: 60px;
	  left: 245px;
	}
  
	&.mall_btn_04 {
	  top: 160px;
	  left: 105px;
	}
  
	&.mall_btn_05 {
	  top: 150px;
	  left: 185px;
	}
  
	&.mall_btn_06 {
	  top: 128px;
	  left: 233px;
	}
  
	&.mall_btn_07 {
	  top: 94px;
	  left: 252px;
	}
  }
  
  .mall_bg_img {
	width: 320px;
	height: 289px;
	margin: auto;
	position: relative;
	margin-top: -289px;
  
	img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: none;
  
	  &.on {
		display: block;
	  }
	}
  
	.mall_bg_img01 {
	  top: 130px;
	  left: 25px;
	  width: 60px;
	  height: 61px;
	}
  
	.mall_bg_img02 {
	  top: 99px;
	  left: 53px;
	  width: 199px;
	  height: 70px;
	}
  
	.mall_bg_img03 {
	  top: 55px;
	  left: 243px;
	  width: 56px;
	  height: 75px;
	}
  
	.mall_bg_img04 {
	  top: 148px;
	  left: 99px;
	  width: 44px;
	  height: 53px;
	}
  
	.mall_bg_img05 {
	  top: 132px;
	  left: 163px;
	  width: 58px;
	  height: 55px;
	}
  
	.mall_bg_img06 {
	  top: 114px;
	  left: 222px;
	  width: 42px;
	  height: 38px;
	}
  
	.mall_bg_img07 {
	  top: 102px;
	  left: 250px;
	  width: 34px;
	  height: 32px;
	}
  }
  
  .dong_info_title {
	position: relative;
  
	> h3 {
	  background: #fbfbfb;
	  font-size: 0.938em;
	  font-weight: 500;
	  padding: 9px 0;
	  border-bottom: 1px solid #e2e2e2;
	  padding-left: 15px;
  
	  &:before {
		content: "";
		display: inline-block;
		width: 13px;
		height: 13px;
		background: url(../../images/m/info_icon.png) no-repeat;
		background-size: 13px;
		padding-right: 7px;
	  }
	}
  
	a {
	  &.on {
		width: 20px;
		height: 12px;
		background: url(../../images/m/arrow_down.png) no-repeat center;
		background-size: 20px 12px;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 41px;
		height: 40px;
		border-left: 1px solid #e2e2e2;
		background-color: #fbfbfb;
	  }
  
	  background-color: #fff;
	  width: 20px;
	  height: 11px;
	  background-image: url(../../images/m/arrow_up.png);
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 20px 11px;
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  border-left: 1px solid #e2e2e2;
  
	  /* border-bottom:1px solid #fff; */
  
	  width: 41px;
	  height: 42px;
	}
  }
  
  .dong_info_list {
	padding: 0 15px;
  }
  
  .floor_contents {
	&:after {
	  display: block;
	  content: "";
	  clear: both;
	}

	li {
	  display: block;
	  width: 50%;
	  float: left;
	  margin-bottom: 20px;

	}
  }
  
  .floor_sub_list {
	border-left: 1px solid #4d754d;
  
	a {
	  display: block;
	  font-size: 0.813em;
	  font-weight: 400;
	  text-indent: -10px;
	  padding-left: 25px;
	  margin-left: 10px;
  
	  &.long_txt {
		text-indent: -26px;
		padding-left: 57px;
	  }
	  span{
		margin-left: 1rem;
	  }
	  span:first-child {
		color: #4d754d;
		font-weight: bold;
		display: inline-block;
		padding-right: 5px;
	  }
	}
  }
  
  .floor_contents li {
	h5 {
	  font-weight: 700;
	  color: #4d754d;
	  padding: 0 0 10px 0;
	  margin-top: 15px;
	}
  
	&:nth-child(1), &:nth-child(2) {
	  height: 261px;
	}
  }
  
  .floor_view_tab {
	display: flex;
	position: relative;
  
	.on {
	  display: block;
	}
  
	h3 {
	  font-size: 0.938em;
	  font-weight: 500;
	  padding-left: 15px;
	  margin-top: 25px;
	  padding-bottom: 10px;
  
	  &:before {
		content: "";
		display: inline-block;
		width: 15px;
		height: 13px;
		background: url(../../images/m/floor_icon.png) no-repeat;
		background-size: 15px;
		padding-right: 7px;
		position: relative;
		top: 1px;
	  }
	}
  
	ul:after {
	  content: "";
	  display: block;
	  clear: both;
	}

	li {
	  display: block;
	  float: left;
	  text-align: center;
	  border-right: 1px solid #e2e2e2;
	  border-top: 1px solid #e2e2e2;
	  border-bottom: 1px solid #e2e2e2;
  
	  &:first-child {
		border-left: 1px solid #e2e2e2;
	  }
  
	  a {
		color: #727272;
		display: block;
		font-weight: 400;
		font-size: 0.938em;
		padding: 9px 0;
	  }
  
	  &:nth-child(5n+1) {
		margin-left: 0;
	  }
  
	  &.on {
		background: #4d754d;
		border: 1px solid #426542;
		position: relative;
		z-index: 5;
  
		a {
		  color: #fff;
		}
	  }
  
	  margin-top: -1px;
	}
  }
  
  .floor_map {
	border-bottom: 1px solid #e2e2e2;
	background: #fbfbfb;
	position: relative;
  
	.btn_vr {
	  display: block;
	  width: 111px;
	  height: 40px;
	  background: url(../../images/m/btn_vr.png) no-repeat;
	  background-size: 111px 40px;
	  position: absolute;
	  left: 0;
	  bottom: 0;
  
	  &.on {
		display: block;
		width: 111px;
		height: 40px;
		background: url(../../images/m/btn_vr_on.png) no-repeat;
		background-size: 111px 40px;
		position: absolute;
		left: 0;
		bottom: 0;
	  }
	}
  
	.zoom_btn {
	  display: block;
	  width: 40px;
	  height: 40px;
	  background: url(../../images/m/zome_btn.png) no-repeat;
	  background-size: 40px;
	  position: absolute;
	  right: 0;
	  bottom: 0;
	}
  
	.select_img {
	  text-align: center;
	}
  
	.select_map_img {
	  > img {
		width: 320px;
		display: block;
		margin: auto;
	  }
  
	  display: none;
  
	  &.on {
		display: block;
	  }
	}
  
	.select_img > img, > .select_img > img {
	  width: 320px;
	  display: block;
	  margin: auto;
	}
  }
  
  .floor_detail_select h3 {
	font-size: 0.875em;
	font-weight: 500;
	padding: 0 15px;
	padding-top: 20px;
	padding-bottom: 10px;
  }
  
  .select_img.map {
	border-top: 1px solid #e2e2e2;
  }
  
  .floor_select_wrap {
	.l_select_wrap {
	  padding: 0 15px;
	  margin-bottom: 15px;
	}
  
	.l_select span {
	  position: absolute;
	  right: 10px;
	  top: 50%;
	  margin-top: -4px;
	  width: 10px;
	  height: 9px;
	  background: url(../../images/m/m_select_bottom_on.png) no-repeat;
	  background-size: 10px 9px;
	}
  }
  
  .floor_detail_select {
	> .select_img {
	  border-top: 1px solid #e2e2e2;
	}
  
  }
  
  /* .floor_map > .select_map_img{border-top:1px solid #e2e2e2} */
  /* .floor_detail_select {border-bottom:1px solid #e2e2e2} */
  
  .select_map_img {
	position: relative;
	width: 320px;
	margin: auto;
	background: #fbfbfb;
  }
  
  .check_img {
	width: 320px;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
  
	img {
	  display: none;
  
	  &.on {
		display: block;
	  }
	}
  }
  
  .check_btn {
	width: 320px;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
  
	a {
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  font-size: 0.625em;
	  font-weight: 400;
	  color: #fff;
	  background: #919191;
	  padding: 6px 5px;
	  border-radius: 2px;
	  line-height: 1px;
  
	  &.on {
		background: #434343;
	  }
	}
  }
  
  .floor_shop, .floor_sale_shop {
	display: none;
  
	&.on {
	  display: block;
	}
  }
  
  .check_img {
	img {
	  position: absolute;
	  top: 0;
	  left: 0;
	}
  
	.G_B2_A_select {
	  top: 76px;
	  left: 180px;
	  width: 29px;
	  height: 12px;
	}
  }
  
  /* 판매동 B2층 선택영역 위치값 */
  
  /* 판매동 B2층 버튼 위치값 */
  
  .check_btn .G_B2_A_btn {
	top: 76px;
	left: 187px;
  }
  
  /* 판매동 B1층 선택영역 위치값 */
  
  .check_img {
	.G_B1_A-1_select {
	  top: 65px;
	  left: 16px;
	  width: 49px;
	  height: 31px;
	}
  
	.G_B1_A-2_select {
	  top: 97px;
	  left: 17px;
	  width: 64px;
	  height: 58px;
	}
  
	.G_B1_B_select {
	  top: 65px;
	  left: 65px;
	  width: 51px;
	  height: 24px;
	}
  
	.G_B1_C-1_select {
	  top: 88px;
	  left: 69px;
	  width: 44px;
	  height: 29px;
	}
  
	.G_B1_C-2_select {
	  top: 108px;
	  left: 76px;
	  width: 48px;
	  height: 32px;
	}
  
	.G_B1_D_select {
	  top: 65px;
	  left: 115px;
	  width: 39px !important;
	  height: 35px !important;
	}
  
	.G_B1_E_select {
	  top: 99px;
	  left: 119px;
	  width: 37px;
	  height: 30px;
	}
  
	.G_B1_F-1_select {
	  top: 62px;
	  left: 155px;
	  height: 34px;
	  height: 37px;
	}
  
	.G_B1_F-2_select {
	  top: 90px;
	  left: 154px;
	  width: 40px;
	  height: 30px;
	}
  
	.G_B1_G-1_select {
	  top: 66px;
	  left: 189px;
	  width: 35px;
	  height: 23px;
	}
  
	.G_B1_G-2_select {
	  top: 81px;
	  left: 188px;
	  width: 40px;
	  height: 30px;
	}
  
	.G_B1_H-1_select {
	  top: 64px;
	  left: 221px;
	  width: 31px;
	  height: 31px;
	}
  
	.G_B1_H-2_select {
	  top: 64px;
	  left: 243px;
	  width: 47px;
	  height: 33px;
	}
  }
  
  /* 판매동 B1층 버튼 위치값 */
  
  .check_btn {
	.G_B1_A-1_btn {
	  top: 74px;
	  left: 30px;
	}
  
	.G_B1_A-2_btn {
	  top: 115px;
	  left: 37px;
	}
  
	.G_B1_B_btn {
	  top: 67px;
	  left: 83px;
	}
  
	.G_B1_C-1_btn {
	  top: 93px;
	  left: 82px;
	}
  
	.G_B1_C-2_btn {
	  top: 117px;
	  left: 90px;
	}
  
	.G_B1_D_btn {
	  top: 75px;
	  left: 128px;
	}
  
	.G_B1_E_btn {
	  top: 106px;
	  left: 132px;
	}
  
	.G_B1_F-1_btn {
	  top: 71px;
	  left: 162px;
	}
  
	.G_B1_F-2_btn {
	  top: 97px;
	  left: 165px;
	}
  
	.G_B1_G-1_btn {
	  top: 68px;
	  left: 195px;
	}
  
	.G_B1_G-2_btn {
	  top: 88px;
	  left: 197px;
	}
  
	.G_B1_H-1_btn {
	  top: 72px;
	  left: 224px;
	}
  
	.G_B1_H-2_btn {
	  top: 72px;
	  left: 256px;
	}
  }
  
  /* 판매동 1F층 선택영역 위치값 */
  
  .check_img {
	.G_1F_A_select {
	  top: 82px;
	  left: 13px;
	  width: 81px;
	  height: 39px;
	}
  
	.G_1F_B_select {
	  top: 82px;
	  left: 95px;
	  width: 53px;
	  height: 32px;
	}
  
	.G_1F_C_select {
	  top: 116px;
	  left: 60px;
	  width: 62px;
	  height: 26px;
	}
  
	.G_1F_D_select {
	  top: 82px;
	  left: 150px;
	  width: 34px;
	  height: 39px;
	}
  
	.G_1F_E_select {
	  top: 82px;
	  left: 183px;
	  width: 54px;
	  height: 42px;
	}
  
	.G_1F_F_select {
	  top: 82px;
	  left: 237px;
	  width: 68px;
	  height: 25px;
	}
  }
  
  /* 판매동 1F층 버튼 위치값 */
  
  .check_btn {
	.G_1F_A_btn {
	  top: 90px;
	  left: 48px;
	}
  
	.G_1F_B_btn {
	  top: 90px;
	  left: 115px;
	}
  
	.G_1F_C_btn {
	  top: 122px;
	  left: 81px;
	}
  
	.G_1F_D_btn {
	  top: 95px;
	  left: 160px;
	}
  
	.G_1F_E_btn {
	  top: 92px;
	  left: 204px;
	}
  
	.G_1F_F_btn {
	  top: 87px;
	  left: 262px;
	}
  }
  
  /* 판매동 2F층 선택영역 위치값 */
  
  .check_img {
	.G_2F_A_select {
	  top: 89px;
	  left: 22px;
	  width: 76px;
	  height: 52px;
	}
  
	.G_2F_B_select {
	  top: 89px;
	  left: 102px;
	  width: 53px;
	  height: 51px;
	}
  
	.G_2F_C_select {
	  top: 75px;
	  left: 159px;
	  width: 144px;
	  height: 56px;
	}
  }
  
  /* 판매동 2F층 버튼 위치값 */
  
  .check_btn {
	.G_2F_A_btn {
	  top: 100px;
	  left: 53px;
	}
  
	.G_2F_B_btn {
	  top: 100px;
	  left: 122px;
	}
  
	.G_2F_C_btn {
	  top: 93px;
	  left: 225px;
	}
  }
  
  /* VR 위치 */
  
  .vr_btn {
	display: none;
  
	&.on {
	  display: block;
	}
  }
  
  .select_img .vr_btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  
	a {
	  display: block;
	  width: 23px;
	  height: 23px;
	  background: url(../../images/m/vr_point.png) no-repeat;
	  background-size: 23px 23px;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
  
	.E_1F_01 {
	  top: 78px;
	  left: 155px;
	}
  
	.E_1F_02 {
	  top: 65px;
	  left: 266px;
	}
  
	.E_1F_03 {
	  top: 120px;
	  left: 218px;
	}
  
	.E_2F_01 {
	  top: 205px;
	  left: 217px;
	}
  
	.D_1F_01 {
	  top: 90px;
	  left: 90px;
	}
  
	.D_1F_02 {
	  top: 48px;
	  left: 220px;
	}
  
	.D_1F_03 {
	  top: 109px;
	  left: 264px;
	}
  
	.D_2F_01 {
	  top: 60px;
	  left: 195px;
	}
  
	.C_1F_01 {
	  top: 45px;
	  left: 150px;
	}
  
	.C_1F_02 {
	  top: 120px;
	  left: 235px;
	}
  
	.C_2F_01 {
	  top: 45px;
	  left: 65px;
	}
  
	.C_2F_02 {
	  top: 50px;
	  left: 185px;
	}
  
	.B_1F_01 {
	  top: 100px;
	  left: 215px;
	}
  
	.B_1F_02 {
	  top: 145px;
	  left: 57px;
	}
  
	.B_1F_03 {
	  top: 33px;
	  left: 75px;
	}
  
	.A_1F_01 {
	  top: 77px;
	  left: 118px;
	}
  
	.A_1F_02 {
	  top: 85px;
	  left: 188px;
	}
  
	.A_2F_01 {
	  top: 57px;
	  left: 152px;
	}
  
	.A_2F_02 {
	  top: 128px;
	  left: 150px;
	}
  
	.F_1F_01 {
	  top: 65px;
	  left: 210px;
	}
  
	.F_1F_02 {
	  top: 140px;
	  left: 225px;
	}
  
	.F_2F_01 {
	  top: 42px;
	  left: 105px;
	}
  
	.F_2F_02 {
	  top: 55px;
	  left: 190px;
	}
  
	.F_2F_03 {
	  top: 105px;
	  left: 225px;
	}
  
	.F_2F_04 {
	  top: 160px;
	  left: 180px;
	}
  
	.F_3F_01 {
	  top: 119px;
	  left: 93px;
	}
  
	.F_3F_02 {
	  top: 166px;
	  left: 126px;
	}
  
	.F_4F_01 {
	  top: 44px;
	  left: 113px;
	}
  
	.F_4F_02 {
	  top: 110px;
	  left: 128px;
	}
  
	.F_4F_03 {
	  top: 172px;
	  left: 132px;
	}
  
	.F_5F_01 {
	  top: 65px;
	  left: 131px;
	}
  
	.F_5F_02 {
	  top: 110px;
	  left: 132px;
	}
  
	.F_5F_03 {
	  top: 147px;
	  left: 143px;
	}
  
	.F_13F_01 {
	  top: 55px;
	  left: 119px;
	}
  
	.F_13F_02 {
	  top: 105px;
	  left: 133px;
	}
  
	.F_13F_03 {
	  top: 146px;
	  left: 143px;
	}
  
	.F_14F-17F_01 {
	  top: 108px;
	  left: 132px;
	}
  
	.F_18F_01 {
	  top: 40px;
	  left: 135px;
	}
  
	.F_18F_02 {
	  top: 108px;
	  left: 132px;
	}
  
	.F_18F_03 {
	  top: 170px;
	  left: 142px;
	}
  
	.G_B2_01 {
	  top: 40px;
	  left: 45px;
	}
  
	.G_B2_02 {
	  top: 40px;
	  left: 86px;
	}
  
	.G_B2_03 {
	  top: 40px;
	  left: 148px;
	}
  
	.G_B2_04 {
	  top: 45px;
	  left: 205px;
	}
  
	.G_B2_05 {
	  top: 75px;
	  left: 210px;
	}
  
	.G_B2_A_01 {
	  top: 50px;
	  left: 242px;
	}
  
	.G_B1_A-1_01 {
	  top: 155px;
	  left: 300px;
	}
  
	.G_B1_A-2_01 {
	  top: 160px;
	  left: 95px;
	}
  
	.G_B1_B_01 {
	  top: 5px;
	  left: 23px;
	}
  
	.G_B1_B_02 {
	  top: 60px;
	  left: 23px;
	}
  
	.G_B1_B_03 {
	  top: 7px;
	  left: 277px;
	}
  
	.G_B1_B_04 {
	  top: 65px;
	  left: 277px;
	}
  
	.G_B1_C-1_01 {
	  top: 27px;
	  left: 0;
	}
  
	.G_B1_C-1_02 {
	  top: 20px;
	  left: 276px;
	}
  
	.G_B1_C-2_01 {
	  top: 70px;
	  left: 20px;
	}
  
	.G_B1_C-2_02 {
	  top: 8px;
	  left: 238px;
	}
  
	.G_B1_F-1_01 {
	  top: 38px;
	  left: 60px;
	}
  
	.G_B1_F-1_02 {
	  top: 113px;
	  left: 60px;
	}
  
	.G_B1_F-2_01 {
	  top: 55px;
	  left: 42px;
	}
  
	.G_B1_G-1_01 {
	  top: 150px;
	  left: 62px;
	}
  
	.G_B1_G-1_02 {
	  top: 65px;
	  left: 237px;
	}
  
	.G_B1_G-2_01 {
	  top: 5px;
	  left: 227px;
	}
  
	.G_B1_H-1_01 {
	  top: 132px;
	  left: 158px;
	}
  
	.G_B1_H-2_01 {
	  top: 10px;
	  left: 273px;
	}
  
	.G_1F_A_01 {
	  top: 30px;
	  left: 114px;
	}
  
	.G_1F_A_02 {
	  top: 65px;
	  left: 114px;
	}
  
	.G_1F_A_03 {
	  top: 102px;
	  left: 114px;
	}
  
	.G_1F_C_01 {
	  top: 50px;
	  left: 0;
	}
  
	.G_1F_C_02 {
	  top: 20px;
	  left: 98px;
	}
  
	.G_1F_C_03 {
	  top: 73px;
	  left: 98px;
	}
  
	.G_1F_C_04 {
	  top: 40px;
	  left: 300px;
	}
  
	.G_1F_D_01 {
	  top: 22px;
	  left: 78px;
	}
  
	.G_1F_D_02 {
	  top: 57px;
	  left: 78px;
	}
  
	.G_1F_D_03 {
	  top: 92px;
	  left: 78px;
	}
  
	.G_1F_D_04 {
	  top: 128px;
	  left: 78px;
	}
  
	.G_1F_E_01 {
	  top: 70px;
	  left: 92px;
	}
  
	.G_1F_E_02 {
	  top: 114px;
	  left: 92px;
	}
  
	.G_1F_E_03 {
	  top: 25px;
	  left: 192px;
	}
  
	.G_1F_E_04 {
	  top: 66px;
	  left: 192px;
	}
  
	.G_1F_E_05 {
	  top: 108px;
	  left: 192px;
	}
  
	.G_1F_E_06 {
	  top: 155px;
	  left: 225px;
	}
  
	.G_2F_A_01 {
	  top: 0;
	  left: 54px;
	}
  
	.G_2F_A_02 {
	  top: 84px;
	  left: 245px;
	}
  
	.G_2F_B_01 {
	  top: 0;
	  left: 45px;
	}
  
	.G_2F_B_02 {
	  top: 142px;
	  left: 242px;
	}
  
	.G_2F_C_01 {
	  top: 30px;
	  left: 0;
	}
  
	.G_2F_C_02 {
	  top: 90px;
	  left: 0;
	}
  
	.G_2F_C_03 {
	  top: 30px;
	  left: 141px;
	}
  
	.G_2F_C_04 {
	  top: 77px;
	  left: 172px;
	}
  
	.G_3F_01 {
	  top: 58px;
	  left: 16px;
	}
  
	.G_3F_02 {
	  top: 115px;
	  left: 34px;
	}
  
	.G_3F_03 {
	  top: 72px;
	  left: 42px;
	}
  
	.G_3F_04 {
	  top: 123px;
	  left: 74px;
	}
  
	.G_3F_05 {
	  top: 77px;
	  left: 83px;
	}
  
	.G_3F_06 {
	  top: 105px;
	  left: 127px;
	}
  
	.G_3F_07 {
	  top: 118px;
	  left: 160px;
	}
  
	.G_3F_08 {
	  top: 75px;
	  left: 178px;
	}
  
	.G_3F_09 {
	  top: 105px;
	  left: 227px;
	}
  
	.G_3F_10 {
	  top: 80px;
	  left: 252px;
	}
  
	.G_3F_11 {
	  top: 69px;
	  left: 301px;
	}
  }
  
	}
	
}